* {
    font-family: Arial, sans-serif;
    color:rgb(216, 216, 216)
}

body {
    margin-bottom: 5vh;
    margin-left: 0;
}

div.resume_section {
    border-top-style: solid;
    border-width: 2.5px;
    border-color: rgb(155, 155, 155);
    margin-top: 50px;
    font-size: 20px;
}

div.resume_section h3 {
    margin-bottom: 10px;
    margin-top: 0px;
    color:rgb(255, 255, 255)
}

div.resume_section_element {
    margin-left: 50px;
    width: 50vw;
    padding: 10px;
}


div.resume_section_element:after {
    clear: both;
    content: "";
    display: block;
}

div.resume_section_content,
div.hello_section {
    margin-left: 25vw;
}

div.resume_section_element:nth-child(odd) {
    background-color:rgb(39, 39, 39)
}

div.hello_section {
    font-size: 25px;
    width: 50vw;
    text-align: justify;
    text-justify: inter-word;
}

div.description {
    float: left;
    width: 25vw;
}

div.media {
    float: left;
    width: 25vw;    
    position: relative;
}

img.slide {
    object-fit: contain;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: auto;
    padding: 2.5%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Hide the images by default */
.slide {
    display: none;
    position: absolute;
    left: 7.5%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 85%;    
}

img.slide:hover,
video.slide:hover {
    cursor: pointer;
    opacity: 0.7;
}

a:link,
a:visited {
    color: #2e55b6;
}

a:link:hover,
a:visited:hover {
    color: #4464b6;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80vw;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.notransition {
    animation-duration: 0s;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    div.description {
        width: 100%;
        margin-bottom: 2.5vw;
        float: none;
    }
    div.media {
        width: 100%;    
        margin-right: 0%;
        float: none;
    }
    div.resume_section_element {
        margin-left: 0px;
        width: 100%;
    }

    div.resume_section_content,
    div.hello_section {
        margin-left: 0%;
    }

    .modal-content {
        width: 100%;
        max-width: 90vw;
    }
}
#Call_of_Duty_Vanguard {
    height:11.953125vw;
}
@media only screen and (max-width: 768px) {
    #Call_of_Duty_Vanguard {
        height: 47.8125vw;
    }
}
#Call_of_Duty_Warzone {
    height:11.953125vw;
}
@media only screen and (max-width: 768px) {
    #Call_of_Duty_Warzone {
        height: 47.8125vw;
    }
}
#Call_of_Duty_Modern_Warfare {
    height:11.981382978723405vw;
}
@media only screen and (max-width: 768px) {
    #Call_of_Duty_Modern_Warfare {
        height: 47.92553191489362vw;
    }
}
#Shadow_Warrior_2 {
    height:21.25vw;
}
@media only screen and (max-width: 768px) {
    #Shadow_Warrior_2 {
        height: 85.0vw;
    }
}
#Hard_Reset_Redux {
    height:12.625087473757873vw;
}
@media only screen and (max-width: 768px) {
    #Hard_Reset_Redux {
        height: 50.50034989503149vw;
    }
}
#Pangrollin {
    height:34.030249110320284vw;
}
@media only screen and (max-width: 768px) {
    #Pangrollin {
        height: 136.12099644128114vw;
    }
}
#Distorted {
    height:11.950768775872264vw;
}
@media only screen and (max-width: 768px) {
    #Distorted {
        height: 47.80307510348906vw;
    }
}
#Bluetooth_Car {
    height:11.953125vw;
}
@media only screen and (max-width: 768px) {
    #Bluetooth_Car {
        height: 47.8125vw;
    }
}
#LazyKrzysztof {
    height:11.953125vw;
}
@media only screen and (max-width: 768px) {
    #LazyKrzysztof {
        height: 47.8125vw;
    }
}
#RayTracing {
    height:20.86985688729875vw;
}
@media only screen and (max-width: 768px) {
    #RayTracing {
        height: 83.479427549195vw;
    }
}
#SandBox_engine {
    height:20.75772200772201vw;
}
@media only screen and (max-width: 768px) {
    #SandBox_engine {
        height: 83.03088803088804vw;
    }
}
#Software_rasterizer {
    height:20.438368055555557vw;
}
@media only screen and (max-width: 768px) {
    #Software_rasterizer {
        height: 81.75347222222223vw;
    }
}
#Your_small_world {
    height:20.677884615384617vw;
}
@media only screen and (max-width: 768px) {
    #Your_small_world {
        height: 82.71153846153847vw;
    }
}
#The_Hunt {
    height:11.953125vw;
}
@media only screen and (max-width: 768px) {
    #The_Hunt {
        height: 47.8125vw;
    }
}
#ShipIn5 {
    height:11.964809384164223vw;
}
@media only screen and (max-width: 768px) {
    #ShipIn5 {
        height: 47.85923753665689vw;
    }
}
#Lightleech {
    height:11.953125vw;
}
@media only screen and (max-width: 768px) {
    #Lightleech {
        height: 47.8125vw;
    }
}
#Lil_Justins_Fame_Escape {
    height:19.474940334128878vw;
}
@media only screen and (max-width: 768px) {
    #Lil_Justins_Fame_Escape {
        height: 77.89976133651551vw;
    }
}
#Rocket_Thruster {
    height:13.291666666666666vw;
}
@media only screen and (max-width: 768px) {
    #Rocket_Thruster {
        height: 53.166666666666664vw;
    }
}
#Commit_Racer {
    height:11.953125vw;
}
@media only screen and (max-width: 768px) {
    #Commit_Racer {
        height: 47.8125vw;
    }
}